<% emojis = ['游녨', '游녪', '驕쥞잺', '游꿀', '游뱂', '游녭']%>

<% emojis.each do |emoji| %>
  <button type="button" class="btn btn border-radius-30 p-1 my-1 button-emoji" onclick="addReaction(event)" value="<%= emoji %>">
    <%= emoji %>
  </button>
<% end %>
