<div class="d-flex flex-column align-items-center">
  <% @entries.each do |entry| %>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 p-0 mb-6">
      <%= link_to entry_path(entry), class: 'text-decoration-none' do %>
      <div class="card mb-4 py-2 border-bottom-pink-300">
      <div class="p-0 px-2 pb-2 pt-1"><%= entry.poster.full_name %> </div>
        <div class="card-body mx-0 px-3 py-2">
          <%= entry.description %>
        </div>
        <div class="card-footer py-1 px-2 border-0 bg-transparent border-top-none">
          <div class="d-flex justify-content-end">
            <div class="f-size-12">
                Comments: (<%= entry.comments.length %>)
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>


