<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
  <%= render Forms::FormComponent.new(
      scope_instance: @patient,
      table_alias: 'patient',
      is_row: true,
      data_type: { type: :json },
      html_options: { id:"patient_form_id", class: 'form', remote: false},
      action_buttons: {
      },
      fields: [
        { type: 'image', name: :image, label: :image, value: @patient.image },
        { type: 'text', name: :first_name, label: :first_name, value: @patient.first_name },
        { type: 'text', name: :last_name, label: :last_name, value: @patient.last_name },
        { type: 'date', name: :date_of_birth, label: :date_of_birth, value: @patient.date_of_birth },
        {
          type: 'select', name: :gender_id, label: 'Gender',
          collection: {
            data: @genders,
						label_method: :name,
						selected: @patient.gender_id,
          },
        },
        {
          type: 'select', name: :bmr_factor_source, label: :bmr_source,
          collection: {
            data:  BmrFactor.distinct.select(:name, :source),
						label_method: :name,
						value_method: :source,
						selected: @patient&.bmr_factor_source,
          },
        },
      ]
  ) %>
</div>



