<div id='patient_page' data-patient-id="target_page_patients_1"></div>
<div id="patients_list_partial">
  <%= render 'list',
       patients: @patients,
       title: "patients.patients"
  %>
</div>


<script>
  //******************
  //* Search patient
  //*
  $(document).on('keyup','#searcher',function(e) {
    console.log('event', e);
    if(e.keyCode != 13) return;

    const search_value = e.target.value;

      let url = "<%= patients_search_path %>?page=<%= @patients.current_page %>&search="+search_value;
      console.log('url', url);
      $.ajax({
        url: url,
        type: "GET",
        // contentType: "application/json;",
        dataType: "script",
        success: function(data) {
        },
        error: function(err) {
          console.log('err', err);
        }
      })
  });

</script>
