<div class="col-12">
  <h1><%= t('diets.diets') %></h1>
  <div class="w-100 text-right mb-4">
    <%= link_to t('new_diet'), new_diet_path , class: "btn btn-primary" %>
  </div>

  <div class="d-sm-flex justify-content-center">
    <%= render 'paginations/pagination', objectData: @diets %>
  </div>

  <div id="diets_list_partial">
    <%= render 'list', diets: @diets %>
  </div>
</div>
