<%= month_calendar(events: appointments, attribute: :start_date) do |date, appointments| %>
  <%= link_to date.day, new_appointment_path(date: date) %>
  <% appointments.each do |appointment| %>
    <div class='appointment-title'>
      <%= link_to "#{appointment.time_start.strftime("%H:%M %p")} - #{appointment.time_end.strftime("%H:%M %p")} #{appointment.title.truncate(30, omission: "...")}",
            appointment_path(appointment),
            data: {
              toggle: "tooltip",
              placement: "top"
            },
            title: appointment.patient.full_name %>
    </div>
  <% end %>
<% end %>