<div class="col-md-12">
  <h1>Calendario de citas</h1>
</div>
<div class="col-md-12">
  <%= render partial: 'calendar', locals: { appointments: @appointments } %>
  <%= link_to "New Appointment", new_appointment_path, class: "btn btn-primary" %>
</div>