<div class="col-12">
  <h1>Products</h1>
  <div class="w-100 text-right mb-4">
    <%= link_to t('products.new_product'), new_product_path , class: "btn btn-primary" %>
  </div>

  <div class="d-sm-flex justify-content-center">
    <%= render 'paginations/pagination', objectData: @products %>
  </div>
  <%= render Elements::TableComponent.new(
      row_fields: [
        { field: :name, link: ->(object) { link_to(object[:name], patient_path(object)) }},
        { field: :description },
        { field: :code },
        { field: :price },
        { field: :new_price },
      ],
      row_objects: @products,
      # table_alias: 'patient',
      table_alias: @products.model.to_s.downcase,
      row_actions:  {
        # edit: nil,
        # show: { with_icon: { name: 'eye' }, color_class: 'c-red', label: nil },
        # delete: { with_icon: { name: 'trash' }, color_class: 'c-red', label: nil, method: :delete,  data: { confirm: t('patients.are_you_sure') } }
      }
    )%>
  <div class="d-sm-flex justify-content-center">
    <%= render 'paginations/pagination', objectData: @products %>
  </div>
</div>
