<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
  <%= render Forms::FormComponent.new(
      scope_instance: indicator_type,
      is_row: true,
      data_type: { type: :json },
      html_options: { id:"indicator_type_form_id", class: 'form', remote: false},
      action_buttons: {},
      fields: [
            {
              type: 'text', name: :name, label: :name, value: indicator_type.name,
              input_class: ''
            },
            {
              type: 'text', name: :description, label: :description, value: indicator_type.description,
              input_class: ''
            },
          ],
  ) %>
</div>
